<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>HeroicPass | Medical</title>

  <link rel="stylesheet" href="css/medical.css">

  <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&family=Bree+Serif&family=Montserrat&family=Ubuntu&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/76704b98ad.js" crossorigin="anonymous"></script>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- JavaScript Bundle with Popper -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&family=Berkshire+Swash&family=Bree+Serif&family=Exo&family=Playfair+Display:ital,wght@1,500&family=Updock&display=swap" rel="stylesheet">
</head>

<body>

</body>

</html>

<!-- NAVBAR -->




<nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-scroll ">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Heroic-Pass</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNav">
      <ul class="navbar-nav navbar-left ">
        <li class="nav-item">
          <a class="nav-link " aria-current="page" href="/medical">Medical</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Nursing">Nursing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/physiotherapy">Physiotherapy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pricing">Pricing</a>
        </li>
    </div>
    <div class="collapse navbar-collapse " id="navbarNav">
      <ul class=" navbar-nav navbar-right">
        <li class="nav-item">
          <a class="nav-link " href="/register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/login">Login</a>
        </li>
      </ul>

    </div>

    </ul>
  </div>
  </div>
</nav>

<script type="text/javascript">
  $(document).ready(function() {
    // Transition effect for navbar
    $(window).scroll(function() {
      // checks if window is scrolled more than 500px, adds/removes solid class
      if ($(this).scrollTop() > 50) {
        $('.navbar').addClass('navbar-scrolled');
      } else {
        $('.navbar').removeClass('navbar-scrolled');
      }
    });
  });
</script>


<!-- JUMBOTRON -->
<div class="row">
<div class="col-sm-8">
<div class="jumbotron" style="margin-bottom: 0px; padding-top: 200px; padding-left: 100px;">

  <h1 class="display-1 my-1">HeroicPass | Medical</h1><br>
  <h2 class="display-8">The #1 resource for MBBS </h2><br>
  <br>
  <p class="lead">
    <a href="/pricing" class="btn btn-warning btn-lg" role="button" aria-pressed="true">Buy Now</a>
  </p>
</div>
</div>
</div>


<!-- QUALITY IS OUR OBSESSION -->

<div class="quality">
  <div class="row">
<div class="col-sm-8">
  <h2 class="text-center display-6 ">Quality Is Our Obsession -</h2>
  <h3 class="text-center display-6 ">Start Your MBBS Prep With HeroicPass</h3>
  <br>
  <p>
    We are dedicated to providing you with a high-yield, high-quality product that prepares you for the MBBS Exam.<br>
    WE Provid High Quality, Detailed Resouces With Diagramatic Explanationbr
    For <br>
    Better Understanding Purpose.</p>
  </div>
  </div>
</div>

<!-- KEY FEATURES -->
<div class="keyFeatures">
  <div class="featuresHeading">
    <h2 class="text-center display-6">Key Features</h2>
  </div>
  <div>
    <div class="row">
<div class="col-sm-8">
    <img class="keyFeatureimage" src="images\keyFeatures.jpg" alt="">
  </div>
  </div>
  </div>
  <div class="features">
    <div class="row">
<div class="col-sm-8">
    <h5 class="display-6">In-Depth Explanations</h5>
    <p>• Conceptual Focus On Important preclinical and clinical topics.</p>
    <p>• Vivid Illustrations To Help Msster The Content.</p>
    <br>
    <h5 class="display-6">Preferance Setting</h5>
    <p>• Focus On High Yield Resouces.</p>
    <p>• Highlighting Of Relative Strengths And Weakness.</p>
  </div>
  </div>
  </div>

</div>

<!-- HIGHLIGHTS -->

<section id="highlights" class="vertical-section">

  <div class="conatiner col-col-12 px-0 vertical-container">
    <div class="row justify-content-lg-center mx-0">
      <div class="text-center featuresHeading">
        <h2 class="display-6"> MBBS Exam Highlights</h2>
      </div>
      <div class="col-9 m-auto col-md-6 col-xl-3" style="padding-top: 70px">



        <div class="text-center vertical-home pointer">
          <i class="fa-brands fa-solid fa-font-awesome mb-1 fa-4x vertical-icon mid-image"></i>
          <br>
          <div class="vertical-head my-3">
            <h3 class="display-6">Flag Questions</h3>
          </div>
          <div class="vertical-content">
            <p>Flag Multiple times repeated Questions
              in your university
              So that you can easily review them</p>
          </div>
        </div>
      </div>
      <div class="d-flex d-md-none  col-12 mt-5 pt-4"></div>
      <div class="col-9 m-auto col-md-6 col-xl-3 pointer" style="padding-top: 70px">
        <div class="text-center vertical-home">
          <i class="fa-sharp fa-solid fa-bolt-lightning mb-1 fa-4x vertical-icon mid-image"></i>
          <div class="vertical-head my-3">
            <h3 class="display-6">Flashcards </h3>
          </div>
          <div class="vertical-content">
            <p>Improve instruments ,X-ray,slides,
              Specimen &MCQ’s retention by
              Flashcards with spaced repetition</p>
          </div>
        </div>
      </div>
      <div class="d-flex d-md-none  col-12 mt-5 pt-4"></div>
      <div class="d-none d-md-flex d-xl-none col-md-12 mt-5 pt-4"></div>
      <div class="col-9 m-auto col-md-6 col-xl-3 pointer" style="padding-top: 70px">
                   <div class=" text-center vertical-home">
        <i class="fa-duotone fa-solid fa-clipboard mb-1 fa-4x vertical-icon mid-image"></i>
        <div class="vertical-head my-3">
          <h3 class="display-6">Notes</h3>
        </div>
        <div class="vertical-content">
          <p>Take notes to aid so that you don’t need
            to open any book night before exam. </p>
        </div>
      </div>
    </div>
  </div>
  <div class="medicalResourcesbtn">
      <a href="/medicalSubjects" class="btn btn-warning btn-lg" role="button" aria-pressed="true">View Resources</a>
  </div>
  </div>
</section>

<!-- WHY CHOOSE US -->

<div class="whyChooseUS">
  <div >
    <div class="row">
<div class="col-sm-8">
    <img class="whyChooseImg"src="https://medical.uworld.com/wp-content/uploads/2021/10/Group-662x-796x1024-1.png" alt="">
  </div>
  </div>
  </div>
  <div class="whyChooseText">

    <h1 class="display-6">Why Choose Us ?</h1>

    <br>
    <div class="row">
<div class="col-sm-8">
    <h4> YOU WILL GET DREAM OUTCOME CERTAINLY</h4>
  </div>
</div>
<div class="row">
<div class="col-sm-8">
    <p>Our answers are at our observe level of writing skill
of the exam,<br>so you will be prepared for the actual
Exam</p>
</div>
</div>
<br>
<div class="row">
<div class="col-sm-8">
<h4>WE WON’T LEAVE YOU CONFUSED </h4>
</div>
</div>
<div class="row">
<div class="col-sm-8">
<p>We provide content exactly from your
University so you don’t need to search for <br>
What’s important for My university exam pattern </p>
</div>
</div>
<br>
<div class="row">
<div class="col-sm-8">
<h4 >DESIGNED WITH YOU IN MIND </h4>
</div>
</div>
<div class="row">
<div class="col-sm-8">
<p>Pursue what is meaningful, not <br>what
Is expedient.<br> 99% percent of us do not found
meaning in study so our simple and <br>user friendly
Interface will reduce your efforts.</p>
</div>
</div>
<br>
<div class="row">
<div class="col-sm-8">
<h4>WE ARE HERE FOR YOU</h4>
</div>
</div>
<div class="row">
<div class="col-sm-8">
<p>Fast, friendly, and reliable customer
 support is available to
meet your needs.
</p>
</div>
</div>
  </div>
</div>
<%- include('partials/footer') %>
